<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QualityAssuranceTrackingToolV2.Properties.Settings.useradminDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\useradminDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QualityAssuranceTrackingToolV2.Properties.Settings.RegistrationRmaDbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\sison\OneDrive\Documents\RegistrationRmaDb.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>